@import "tailwindcss";

@theme {
  --color-primary: #1e3a8a;
  /* Deep blue from logo */
  --color-alert: #e88b8b;
  /* Soft red */
  --color-surface: #ffffff;
  /* White bg */
}

@layer base {
  body {
    background-color: var(--color-surface);
  }
}